.Encrypt {
    background-image: url("img/d.png");
}

.Encrypt_header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background: rgba(72, 140, 210, 0.82);
    border: 1px solid #19177e;
    border-radius: 32px;
}

.Encrypt_header_text {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #05030a;
    mix-blend-mode: overlay;
}

.Encrypt_textarea_wrapper {
    min-height: 300px;
    min-width: 400px;
    max-height: 400px;
    max-width: 700px;
    width: 100%;
    height: 100%;
    padding-right: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Encrypt_textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(77, 120, 40, 0.6);
    border: 1px solid #19177e;
    border-radius: 32px;
    resize: none;
}

.Encrypt_textarea_placeholder {
    position: absolute;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #464151;
    mix-blend-mode: overlay;
}

.Encrypt_image_wrapper {
    box-sizing: border-box;
    min-height: 400px;
    min-width: 600px;
    max-height: 700px;
    max-width: 900px;
    width: 100%;
    height: 100%;
    background: rgba(163, 124, 205, 0.69);
    border: 1px solid #19177e;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Encrypt_image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.Encrypt_image_placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #1a102d;
    mix-blend-mode: overlay;
}
