.Main{
    background-image: url("img/b.png");
}

.index_header{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.index_middle {
display: flex;
justify-content: space-between;
align-items: center;
}

.wraper {
    min-height: 100%;
    overflow: hidden;
}
/* кнопка зашифровки главный экран*/
.button1 {
    display: flex;
    border-radius: 50%;
    box-sizing: border-box;
   margin-right: 350px;
    width: 420px;
    height: 103px;
    background: rgba(58, 165, 88, 0.5);
    border: 1px solid #0b402a;
    cursor: pointer; 
}

/* кнопка расшифровки главный экран*/
.button2 {
    display: flex;
    border-radius: 50%;
    box-sizing: border-box;

    justify-content: space-between;
    width: 420px;
    height: 103px;
    display: flex;
    align-items: center;
    
    background: rgba(58, 165, 88, 0.5);
    border: 1px solid #0b402a;
    cursor: pointer; 
}

/* что нужно сделать блок*/
.Main_header_block{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
   
    min-width: 400px;
    top: 38px;
    background: rgba(45, 111, 160, 0.5);
    border: 1px solid #19177e;
    border-radius: 32px;
}

/* что нужно сделать надпись*/
.Main_header_text {   
    font-style: italic;
    font-weight: 40;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #0e044f;
    mix-blend-mode: overlay;

}
/* надпись на кнопках index*/
.index_middle_text {
   padding-top: 20px;
   padding-left:89px;
    box-sizing: border-box;
    height: 103px;
    font-weight: 40;
    font-family: "Inria Serif";
    font-style: italic;
    font-size: 36px;
    text-align: center;
    color: #05030a;
    mix-blend-mode: overlay;
    line-height: 43px;
    
}

/* надпись стенография bpm index*/
.text3 {
    position: absolute;
    width: 290px;
    height: 86px;
    font-family: 'Inria Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #0E044F;
    mix-blend-mode: overlay;
}
.bt1{
    display: flex;
    justify-content: space-between;
}
.stenog {
    box-sizing: border-box;
    position: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    
    width: 300px;
    background: rgba(160, 141, 45,0.85);
    
    border: 1px solid #19177e;
    border-radius: 32px;
    margin-top: 210px;
}
