.Formaterror{
    background-image: url("img/g.webp");
}

.Formaterror_messadge_wrapper {
    box-sizing: border-box;
    position: absolute;
    height: 454px;
    left: 79px;
    width: 500px;
    top: 100px;
    background: rgba(91, 53, 152, 0.8);
    border: 1px solid #19177e;
    border-radius: 32px;
      
}
.Resultencrypt_image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.errformat {
    position: absolute;
    width: 424px;
    height: 355px;
    left: 62px;
    top: 51px;
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19212c;
}