/* задний фон index */ 
.img{

  background-image: url("img/b.png");
  background-size: "cover";
  height: 100vh;
  max-width: 1835px;
  background-repeat:no-repeat ; 
}

body { 
  margin: 0;
  padding:0;
  }

/* задний фон экран расшифровки */ 
.img2{
  background-image: url("img/c.png"); 
  background-size: "cover";
  height: 100vh;
  margin-top: -0px;

  background-repeat:no-repeat ; 
}
/* задний фон экран зашифровки */ 

.img3{
  background-image: url("img/d.png");
  background-size: "cover";
  height: 110vh;
  margin-top: -20px;
  background-repeat:no-repeat ; 
}

/* задний фон экран результат */ 
.img4{
  background-image: url("img/f.png");
  background-size: "cover";
  height: 100vh;
  margin-top: -20px;
  background-repeat:no-repeat ; 
}

/* задний фон экран ошибка размера */ 
.img5{
background-image: url("img/h.png");
background-size: "cover";
height: 100vh;
margin-top: -20px;
position: relative;
width: 1600px;
height: 800px;
background-repeat:no-repeat ; 
}
/* задний фон экран ошибка формата */ 
.img6{
  background-image: url("img/g.png");
  background-size: "cover";
  height: 100vh;
  margin-top: -20px;
  background-repeat:no-repeat ; 
}
/* кнопка зашифровки главный экран*/ 
.button1{
display:flex;
border-radius: 50%;
box-sizing: border-box;
position: absolute;
width: 420px;
height: 103px;
left: 174px;
top: 161px;
padding-right: 200px;
background: rgba(58, 165, 88, 0.5);
border: 1px solid #0B402A;
}

/* кнопка расшифровки главный экран*/ 
.button2{
 display:flex;
border-radius: 50%;
box-sizing: border-box;
padding-left: 200px;
position: absolute;
width: 420px;
height: 103px;
left: 880px;
top: 161px;
background: rgba(58, 165, 88, 0.5);
border: 1px solid #0B402A;
}

/* что нужно сделать блок*/ 
.box1{
box-sizing: border-box;
display:block;
position: absolute;
height: 112px;
left: 520px;
width: 400px;
top: 38px;
background: rgba(45, 111, 160, 0.5);
border: 1px solid #19177E;
border-radius: 32px;}

/* что нужно сделать надпись*/ 
.text1{
position: absolute;
left: 70px;

font-family: 'Inria Serif';
font-style: italic;
font-weight: 40;
font-size: 25px;
line-height: 43px;
text-align: center;
color: #0E044F;
mix-blend-mode: overlay;
}
/* надпись на кнопках index*/ 
.p2{
position: absolute;
box-sizing: border-box;
height: 103px;
top: -10px;
left: 100px;
font-family: 'Inria Serif';
font-style: italic;
font-size: 36px;
text-align: center;
color: #05030A;
mix-blend-mode: overlay;}

/* надпись стенография bpm index*/ 
.text3{position: absolute;
  width: 290px;
  height: 86px;
  left: 10px;
  font-family: 'Inria Serif';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #0E044F;
  mix-blend-mode: overlay;}

  /* ввод текста для зашифровки encrypt*/ 
  .field-type{
    box-sizing: border-box;

position:absolute;
height: 300px;
left:150px;
top: 202px;
width: 400px;
background: rgba(0,0,0,0.5);
border: 1px solid #19177E;
border-radius: 32px;
  }
    /* поле для  картинки encrypt*/ 
  .hh{
    box-sizing: border-box;
    position: absolute;
    height: 400px;
    left: 672px;
    right: 65px;
    top: 150px;
    width: 600px;
    background: rgba(163, 124, 205, 0.69);
    border: 1px solid #19177E;
    border-radius: 32px;
  }

input[type="file"] {
  display: none;
}
 /* поле для  картинки encrypt*/ 
.R{
  box-sizing: border-box;
  position: absolute;
  height: 400px;
  left: 672px;
  right: 65px;
  top: 150px;
  width: 600px; 
  color: azure;
  border-radius: 32px;
}
/* надпись изображение encrypt*/ 
.textinput{
 position: absolute;
width: 500px;
height: 54px;
left: 70px;
top: 150px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #1A102D;
mix-blend-mode: overlay;
}
/* кнопка применить  encrypt*/ 
.primenit{
box-sizing: border-box;
position: absolute;
height: 89px;
left: 77px;
right: 1460px;
top: 600px;
width: 200px;
background: rgba(160, 141, 45, 0.68);
border: 1px solid #19177E;
border-radius: 32px;
  }
  /* кнопка назад  encrypt*/ 
.nazad{
box-sizing: border-box;
position: absolute;
height: 89px;
left: 1100px;
right: 65px;
top: 600px;
width: 200px;
background: rgba(160, 141, 45, 0.68);
border: 1px solid #19177E;
border-radius: 32px;
  }
  /* блок заголовок шифрование encrypt*/ 
.shifrovanie{
box-sizing: border-box;
position: absolute;
height: 100px;
left: 500px;
right: 625px;
top: 30px;
width: 300px;
background: rgba(72, 140, 210, 0.82);
border: 1px solid #19177E;
border-radius: 32px;
  }
    /* надпись шифрование encrypt*/ 
.shifrovanie2{
position: absolute;
width: 300px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #05030A;
mix-blend-mode: overlay;
  }
/* надпись текст загрузчик текста encrypt*/ 
.text66{
position: absolute;
width: 511px;
height: 54px;
left: 94px;
top: 280px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #464151;
mix-blend-mode: overlay;
  }
 /* блок выгрузки изображения после шифрования result encrypt*/ 
.shifrovanieitog{
box-sizing: border-box;
position: absolute;
height: 500px;
left: 330px;
right: 329px;
top: 44px;
background: rgba(122, 165, 122, 0.76);
border: 1px solid #19177E;
border-radius: 32px;
  }
  /* надпись в блоке выгрузки "изображения" после шифрования result encrypt*/ 
.shifrovanieitog2{
position: absolute;
width: 511px;
height: 54px;
margin-top: 200px;
margin-left: 100px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #1A102D;
mix-blend-mode: overlay;
  }
   /* кнопка назад все кроме  encrypt*/ 
  .buttonnazad{
box-sizing: border-box;
position: absolute;
height: 89px;
left: 1100px;
right: 53px;
top: 560px;
width: 200px;
background: rgba(160, 141, 45, 0.68);
border: 1px solid #19177E;
border-radius: 32px;
  }
 /* кнопка сохранить decoding и result encrypt */ 
.buttonsohr{
box-sizing: border-box;
position: absolute;
height: 89px;
left: 48px;
right: 1100px;
top: 560px;
width: 200px;
background: rgba(160, 141, 45, 0.68);
border: 1px solid #19177E;
border-radius: 32px;
  }
 /* поле с расшифрованным сообщением  resultdecoding */ 
.shifrtext{
box-sizing: border-box;
position: absolute;
height: 500px;
left: 115px;
right: 402px;
top: 50px;
background: rgba(137, 14, 41, 0.51);
opacity: 0.55;
border: 1px solid #19177E;
border-radius: 32px;
  }
   /* поле с расшифрованным сообщением  resultdecoding надпись зашифрованный текст*/ 
.shifrtext2{
position: absolute;
width: 511px;
height: 54px;
left: 319px;
top: 259px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #1A102D;
mix-blend-mode: overlay;
  }
/* поле загрузки изображения decoding*/ 
  .hh2{
box-sizing: border-box;
position: absolute;
height: 400px;
left: 400px;
right: 452px;
top: 200px;
width: 600px;
background: rgba(195, 130, 191, 0.63);
border: 1px solid #19177E;
border-radius: 32px;
  }
  /* поле загрузки изображения decoding надпись*/ 
.textinput2{
position: absolute;
width: 511px;
height: 54px;
top: 140px;
left: +50px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #1A102D;
mix-blend-mode: overlay;
  }
  /* поле загрузки изображения  прозрачное decoding*/ 
  .R2{
box-sizing: border-box;
position: absolute;
height: 400px;
left: 400px;
right: 452px;
top: 200px;
width: 600px;
color: azure;
border: 1px solid #19177E;
border-radius: 32px;
  }
    /*ошибка размера блок с надписью */ 
  .errsize{
box-sizing: border-box;
position: absolute;
height: 454px;
left: 900px;
width: 500px;
top: 71px;
background: rgba(82, 113, 118, 0.81);
border: 1px solid #19177E;
border-radius: 32px
  }
   /*ошибка размера блок с надписью сама надпись */ 
.errsizep{
position: absolute;
width: 424px;
height: 355px;
left: 62px;
top: 51px;
font-family: 'Inria Serif';
font-style: italic;
font-weight: 400;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
color: #19212C;
  }
    /*ошибка формата блок с надписью */ 
  .errformat{
  box-sizing: border-box;
position: absolute;
height: 454px;
left: 79px;
width: 500px;
top: 100px;
background: rgba(91, 53, 152, 0.8);
border: 1px solid #19177E;
border-radius: 32px;
  }
  .index_middle{
    display: flex;
   
    justify-content: space-between;
  }
  .wraper{
    min-height: 100%;
    overflow: hidden;
  }
/* index поле стенограмма bpm */ 
.stenog{
box-sizing: border-box;
position: absolute;
height: 125px;
left: 1000px;
right: 142px;
top: 550px;
width: 300px;
background: rgba(160, 141, 45, 0.5);
border: 1px solid #19177E;
border-radius: 32px;
  }